.DS_Store

web_scraping/raw/*.csv
web_scraping/incremental/*.csv
web_scraping/incremental/*.csv
web_scraping/curated/*.csv

# Conda / Miniforge
ENTER/
.env/
.venv/
Miniforge3-*.sh

# Modeling outputs
data/modeling/*.csv
data/modeling/summary_analysis/*.csv
bertopic_model_*/
berttopic_model_full_corpus/topics.json
*.safetensors

# Notebooks
notebooks/*.ipynb
